@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');


.ballet-uniquifier {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    /* padding: 20px; */
    background-image: url("media/menuitems/Swedish-Chef-meme-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    padding: 0px;
    margin: 0px;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.food-container {
  width: auto;
  height: 300px;
  background-color: rgba(0,0,0, 0.5);
  padding: 50px 0px 50px 0px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
}

.food-container p {
  display: flex;
  font-size: 30px;
  font-size: 2vw;
  height: 100%;
  max-width: 50%;
  float: left;
  align-items: center;
}

.food-container img{
  display: inline-block;
  vertical-align: middle;
  float: right;
  height: 100%;
  width: 50%;
  max-width:200px;
  align-items: center;
}

.button-download {
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-image: url("media/ButtonElement.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 255, 255, 0);
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 30%;
    max-width: 300px;
    height: 50px;
    margin:0px 2px;
    font-size: 30px;
}

video {
    width:100%;
     box-shadow: 0px 0px 40px 20px rgba(0, 72, 83, 0.5);
}

h1 {
   font-family: Ballet, sans-serif;
    font-size: 80px;
    color: turquoise;
    text-align: center;
}

h2 {
    padding-top: 200px;
    font-family: Ballet, sans-serif;
    font-size: 50px;
    color: turquoise;
    text-align: center;
}

p {
    text-indent: 50px;
}

video {
    width: 100%;
    height: 700px;
     box-shadow: 0px 0px 40px 20px rgba(0, 72, 83, 0.5);
}


button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

.top-container {
    display: flex;
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    min-height: 200px;
    vertical-align: middle;
    /* background-color: red; */
    
}

.main-container {
    display: flex;
    width:100%;
    height:fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    padding-top: 0px;
    /* align-items: center; */
    flex: 1 1 auto;
    overflow-y:visible;
    display:grid;
}

.info {
   padding: 50px 0px;
   
}


.tabcontent {
    display: inline-block; 
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-left:auto;
    margin-right:auto; */
    background-color: rgba(0, 0, 0, .65);
    max-width:1200px;
    width:100%;
    min-height: 500px;
    position:relative;
    box-shadow: 0px 0px 40px 20px black; /*any color you want*/
    /* padding: 100px; */
    /* animation: slideInFromLeft ease 1s, fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both; */

}

.videoWrapper {
    display: block;
    margin: auto;
    position: relative;
    overflow: hidden;
    /* 16:9 */
    padding-top: 56.25%;
    width: 100%;
     box-shadow: 0px 0px 40px 20px rgb(0, 0, 0);
}

.videoWrapper iframe {
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
        display:none;
    }
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Gallery */

* {
  box-sizing: border-box;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}

/* Modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
