@import url('https://fonts.googleapis.com/css2?family=Anta&family=Gemunu+Libre:wght@200..800&family=Goldman:wght@400;700&family=Orbitron:wght@400..900&display=swap');


html {
    font-family: Anta, sans-serif;
    font-size: 20px;
    color: white;
    /* padding: 20px; */
}

h1 {
    font-size: 80px;
    color: turquoise;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: turquoise;
    text-align: center;
}

p {
    text-indent: 50px;
}


img {
    border: 2px 2px 2px 2px solid white;
}

img.game {
    display:block;
    width: 75%;
    margin: auto;
}

video {
    width: 100%;
    height: 700px;
}


button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

.top-container {
    display: flex;
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    min-height: 200px;
    vertical-align: middle;
    /* background-color: red; */
    
}

.name {
    /* position:fixed; */
    
    height: 10px;
    width: auto;
    
    justify-content: center;
    margin: 0 auto;
    z-index: 5;
}

.banner {
    width:4096px;
    height:256px;
    display:flex;
    /* background-image: url("media/banner02.png"); */
    background-color: grey;
    background-repeat: repeat;
    background-size:50% 100%;
    /* animation: slideInFromLeft ease 1s, fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.1s;   */
    /* animation: bannermove 40s linear infinite; */
}

.tab {
    justify-content: center;
    display: flex;
    width:100%;
    margin: 0 auto;
    background-color: darkgrey;
    bottom: 0px;
    text-align: center;
    /* animation: slideInFromLeft ease 1s, fadeInAnimation ease 1s; */
    /* animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-delay: 0.2s; */
    box-shadow: 0px 0px 40px 20px black; /*any color you want*/
    z-index:1;
    position:relative;
    position: sticky;
    top:0;
    
}

.tab button {
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 32px;
    background-color: rgb(231, 231, 231);
    width: 250px;
    margin:0px 2px;
    border-radius: 2px;
}

ul {
    list-style-type: inherit;
    list-style: inherit;
    font: inherit;
}

.main-container {
    display: flex;
    width:100%;
    background-image: url("media/background01.png");
    background-color: grey;
    height:fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    padding-top: 0px;
    /* align-items: center; */
    flex: 1 1 auto;
    overflow-y:visible;
    display:grid;
}



.showcase-container {
    width:100%;
    display: flex;
    height:500px;
    height:fit-content;
    z-index:0;
    position:relative;
}





.tabvert {
    width: 150px;
    position: absolute;
    z-index:2;
    left:-150px;
    /* background-color: darkgrey; */
    height:fit-content;
    padding-top: 20px;
    
}

.tabvert button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height:150px;
    margin:2px 0px;
    transition: 0.3s;
    font-size: 24px;
    text-align: center;
    padding: 0px;
    vertical-align: middle;
    background-color: rgb(231, 231, 231);
    border-radius: 10px 0px 0px 10px;
}




.tabcontent {
    display: inline-block; 
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-left:auto;
    margin-right:auto; */
    background-color: rgba(0, 0, 0, .9);
    max-width:1500px;
    width:75%;
    min-height: 500px;
    position:relative;
    box-shadow: 0px 0px 40px 20px black; /*any color you want*/
    padding: 100px;
    /* animation: slideInFromLeft ease 1s, fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both; */

}


.contactform {
    width:100%;
}

.tabcontentvert {
    display:flex;
    float:right;
    width: 100%;
    /* padding: 50px; */
    height:fit-content;
}

.videoWrapper {
    display: block;
    margin: auto;
    position: relative;
    overflow: hidden;
    /* 16:9 */
    padding-top: 56.25%;
    width: 100%;
}

.videoWrapper iframe {
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

video {
    width:100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(78, 78, 78);
    height:100vh;
    display: flex;
    flex-direction: column;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display:none;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(50%);
        display:none;
    }
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}